body{
  font-family: Helvetica, serif;
  margin: 0 !important;
}

.bg-black{
  background-color: black;
  height: 35vw;
}

.bg-img{
  background: url("./assets/background.jpg");

  height: 30vw;
  background-size: cover;
  background-position: center;
}

.bg-video{
  width: 30vw;
}

.text-center{
  text-align: center;
}

.title{
  font-size: 2.3vw;
  font-weight: bold;
  color: white;
}

.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.pt-7{
  padding-top: 7vw;
}

.pt-3{
  padding-top: 3vw;
}

.mt-2{
  margin-top: 2vw;
}

.ml-10{
  margin-left: 10vw;
}

.img-custom{
  border-radius: 1vw;
  width: 14vw;
}

.test1-text{
  text-align: center;
  width: 10vw;
  font-size: 2vw;
  /* background-color: red; */
  color: white;
  position: absolute;
  left: 20vw;
  top: 55vw;
}

.test2-text{
  text-align: center;
  width: 10vw;
  font-size: 2vw;
  /* background-color: red; */
  color: white;
  position: absolute;
  left: 69vw;
  top: 57vw;
}